{% extends "layout.html" %} {% block title %} Portfolio {% endblock %} {% block
main %}
<h1>Portfolio</h1>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Symbol</th>
      <th>Name</th>
      <th>Shares</th>
      <th>Price</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
    {% for stock in stocks %}
    <tr>
      <td>{{ stock.symbol }}</td>
      <td>{{ stock.name }}</td>
      <td>{{ stock.shares }}</td>
      <td>{{ stock.price }}</td>
      <td>{{ stock.total }}</td>
    </tr>
    {% endfor %}
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td><b>Cash</b></td>
      <td>{{ cash }}</td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td><b>TOTAL</b></td>
      <td>{{ total }}</td>
    </tr>
  </tbody>
</table>
{% endblock %}
